.select-dropdown {
  width: 100%;
  padding: 8px 16px;
}

.select-dropdown:focus {
  outline: none;
  border: 1px solid #0366d6;
}

.distributor-invitation-container {
  margin: 0 auto;
  padding: 0 15px; /* Adjust padding for smaller screens */
}

.distributor-table-container {
  max-width: 100%;
}

.add-button-container {
  text-align: center;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.check-profile-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px; /* Adjust the margin-top as necessary */
}