/* AddDistributor.module.css */
.formContainer {
    max-width: 60%; 
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
  }
  

  .addButton {
    width: 100px; 
    height: 40px; 
  }
  
  .addButtonLocation {
    display: flex;
    justify-content: flex-end; 
    align-items: flex-end; 
    height: 100%; 
  }