/* LandingPage.css */

.landing-page {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.landing-header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: inline;
  margin-right: 20px;
}

.navbar ul li:last-child {
  margin-right: 0;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
}

.landing-content {
  padding: 20px;
}

.about-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-us-text {
  flex: 1;
  max-width: 50%;
  text-align: left;
}

.about-us-image {
  flex: 1;
}

.landing-footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Add additional styles for smaller screens using media queries */
@media only screen and (max-width: 768px) {
  /* LandingPage.css */

  .company-logo img {
    max-width: 100%; /* Ensure the image doesn't overflow its container */
    display: block; /* Ensure the image behaves as a block element */
    margin: 0 auto; /* Center the logo horizontally */
  }


  .navbar ul li {
    margin-right: 10px; /*Adjust margin for smaller screens */
  }
  
  .about-us {
    flex-direction: column; /* Change flex direction for smaller screens */
  }

  .about-us-text {
    max-width: none; /* Remove max-width for smaller screens */
  }

  .about-us-image img {
    max-width: 100%; /* Ensure the image doesn't overflow its container */
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Ensure the image behaves as a block element */
  }

  .company-logo img {
    max-width: 100%; /* Adjust images and text to fit smaller screens */
    width: 100%; /* Ensure images and text take full width */
  }
}
