/* MainNavBar.css */

/* General styles */
.form-select {
  background-color: #333 !important; /* Change the background color to grey */
  color: #fff !important; /* Change the text color to white */
  padding: 16px 32px;; /* Adjust padding as needed */
  width: 100%; /* Ensure dropdown spans full width */
}

.navbar {
  display: flex;
  flex-direction: row; /* Display items in a column */
}

.menu {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  justify-content: center; /* Evenly spread items */
  align-items: center; /* Centers items vertically */
  background-color: #333; /* Sets a dark background for the menu */
  padding: 10px; /* Adds some padding for better spacing */
  border-radius: 5px; /* Rounds the corners */
}

.menu-item {
  position: relative;
}

.menu-item button {
  background-color: transparent; /* Transparent background for buttons */
  color: #fff; /* White text color for buttons */
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  width: 100%;
}

.menu-item button:hover {
  background-color: #554141; /* Slightly darker background on hover */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333; /* Dark gray background for dropdown */
  border-radius: 5px;
  padding: 10px;
  top: 100%;
  width: 200px;
  z-index: 1;
  color: #fff; /* White text color in the dropdown */
}

.menu-item:hover .dropdown-content {
  display: block;
}

.menu-footer {
  display: flex;
  justify-content: space-evenly; /* Evenly spread items */
  margin-top: 10px;
}

.logout-button {
  background-color: #333;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  padding: 8px 16px;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #555;
}
