/* MainNavBar.css */

/* General styles */
.form-select {
  background-color: #333 ; /* Change the background color to grey */
  color: #fff !important; /* Change the text color to white */
  background: #333 url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='white' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px !important;
  width: 180px !important; /* Ensure dropdown spans full width */
  padding: 13px !important;
  margin-left:20px !important;
  white-space: nowrap !important;
  text-overflow:ellipsis !important;
  overflow: auto !important;
}

.navbar {
  display: flex;
  flex-direction: row; /* Display items in a column */
}

.menu {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  justify-content: space-around; /* Evenly spread items */
  align-items: center; /* Centers items vertically */
  background-color: #333; /* Sets a dark background for the menu */
  border-radius: 5px; /* Rounds the corners */
}

.menu-item {
  position: relative;
  margin-left: 10px;
}

.menu-item button {
  background-color: transparent; /* Transparent background for buttons */
  color: #fff; /* White text color for buttons */
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  width: 100%;
}

.menu-item button:hover {
  background-color: #554141; /* Slightly darker background on hover */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333; /* Dark gray background for dropdown */
  border-radius: 5px;
  padding: 10px;
  top: 100%;
  width: 200px;
  z-index: 1;
  color: #fff; /* White text color in the dropdown */
}

.menu-item:hover .dropdown-content {
  display: block;
}

.menu-footer {
  display: flex;
  justify-content: space-around; /* Evenly spread items */
  flex-direction: row;
}

.logout-button {
  background-color: #333;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  padding: 8px 16px;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #555;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}