.compare-products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container {
  margin-top: 20px;
}

.search-box-container {
  margin-bottom: 20px;
}

.custom-searchbox {
  width: 70%; /* Adjust the width as per your requirement */
  height: 40px; /* Adjust the height as per your requirement */
  font-size: 16px; /* Adjust the font size as per your requirement */
  padding: 8px; /* Adjust padding as per your requirement */
  border-radius: 4px; /* Adjust border radius as per your requirement */
  outline: none; /* Remove outline */
}

.product-catalog-item {
  background-color: #fff5e6;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-catalog-item:hover {
  transform: translateY(-5px);
}

.product-brand {
  font-weight: normal; /* Remove bold font weight */
  font-size: 1.2rem;
  color: #4e4e4e; /* Dark gray */
  margin-bottom: 8px;
}

.product-name {
  font-weight: bold; /* Make the product name bold */
  font-size: 1.2rem; /* Increase font size for emphasis */
  color: #1f1f1f; /* Darker gray */
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis; /* Add ellipsis for overflow */
  white-space: nowrap; /* Prevent text from wrapping */
}

.product-price {
  font-weight: bold;
  font-size: 1.2rem;
  color: #82559d; /* Blue */
  margin-bottom: 8px;
}

.product-quantity {
  font-size: 0.9rem;
  color: #666666;
  margin-bottom: 8px;
}

.create-order-button {
  width: 100%;
  padding: 12px;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.create-order-button:hover {
  background-color: #45a049;
}

.ais-Hits-item {
  border: none !important;
  box-shadow: none !important;
  margin: 0px;
}


.request-button {
  width: 100%;
  padding: 12px;
  background-color: #2c94ef;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.request-button:hover {
  background-color: #2467a2;
}

.request-button[disabled] {
  background-color: #ccc; /* Gray background color */
  cursor: not-allowed; /* Change cursor to indicate button is disabled */
  opacity: 0.7; /* Reduce opacity to visually indicate disabled state */
}