  .table {
    width: 100%; 
    max-width: none; 
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar .form-inline {
    display: flex;
    align-items: center;
  }
  

  .navbar .form-inline .btn {
    padding: .375rem .75rem; 
    margin-left: .5rem; 
  }

  
  .card {
    width: 60%; 
    margin: 20px auto; 
  }

  h1.mb-4 {
    text-align: left;
  }


  .card-body .text-right {

    display: flex;
    justify-content: flex-end;
  }

  .custom-btn-primary {
    background-color: #4e73df;
    border-color: #4e73df;
    color: white;
  }

  .custom-btn-primary:hover {
    background-color: #6c7ae0;
    border-color: #6c7ae0;
  }